appdirs==1.4.4
argcomplete==3.0.8
attrs==23.1.0
blinker==1.4
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
command-not-found==0.3
cryptography==3.4.8
dbus-python==1.2.18
distro==1.7.0
distro-info===1.1build1
dotty-dict==1.3.1
greenlet==1.1.2
halo==0.0.31
hid==1.0.5
hjson==3.1.0
httplib2==0.20.2
idna==3.4
importlib-metadata==4.6.4
jdatetime==4.1.1
jeepney==0.7.1
jsonschema==4.17.3
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
log-symbols==0.0.14
milc==1.6.6
more-itertools==8.10.0
msgpack==1.0.3
netifaces==0.11.0
oauthlib==3.2.0
Pillow==9.5.0
Pygments==2.15.1
PyGObject==3.42.1
PyJWT==2.3.0
pynvim==0.4.2
pyparsing==2.4.7
pyrsistent==0.19.3
pyserial==3.5
python-apt==2.4.0+ubuntu1
pyusb==1.2.1
PyYAML==5.4.1
qmk==1.1.2
requests==2.31.0
SecretStorage==3.3.1
six==1.16.0
spinners==0.0.24
systemd-python==234
termcolor==2.3.0
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==2.0.4
wadllib==1.3.6
zipp==1.0.0
